.edit-task-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 6%;
  box-shadow: 5px 5px 0px black;
}

.edit-task-input {
  width: 18rem;
  height: 1.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  font-size: 1rem;
  color: black;
  border: 2px solid black;
  border-right: none;
  background-color: #fdead3;
}

.edit-task-input:focus {
  border: none;
  outline: none;
}

.update-task-button {
  outline: none;
  background-color: rgb(8, 119, 71);
  color: #fdead3;
  width: 3.2rem;
  height: 2.7rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .8rem;
  cursor: pointer;
  border: 2px solid black;
  border-left: none;
  border-right: none;
}

.cancel-update-button {
  outline: none;
  background-color: #f1bd2d;
  color: black;
  width: 3.2rem;
  height: 2.7rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .8rem;
  cursor: pointer;
  border: 2px solid black;
  border-left: none;
}

.update-icon {
  width: 2rem;
  height: 1.5rem;
}

.cancel-icon {
  width: 2rem;
  height: 1.5rem;
}