.form-and-list {
  margin: 0 auto;
  width: 19rem;
}

.task-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: none;
  border-top: none;
  margin-bottom: 13%;
}