.task-container {
  color:aliceblue;
  width: 18rem;
  min-height: 1.5rem;
  padding: .5rem .5rem .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: 2px solid black;
  cursor: pointer;
  color:black;
  box-shadow: 5px 5px 0px black;
  background-color: #fdead3;
  margin-top: 5%;
  margin-bottom: 5%;
}

.task-text {
  width: 100%;
  height: 100%;
  font-size: .95rem;
  margin-right: 1%;
  display: flex;
  align-items: center;
  font-family: "Roboto Mono";
  overflow-wrap: anywhere;
}

.task-icon-container-done {
  width: 2rem;
  height: 1.9rem;
  margin-left: .1rem;
  margin-right: .1rem;
}

.task-icon-container-edit,
.task-icon-container-delete {
  width: 2rem;
  height: 2rem;
  margin-left: .1rem;
}

.task-icon-container-done.disabled .done-icon {
  cursor: auto;
  color: gray;
}

.edit-icon.disabled {
  cursor: auto;
  color: gray;
}

.task-icon-container-edit.disabled .edit-icon {
  cursor: auto;
  color: gray;
}

.delete-icon {
  width: 1.2rem;
  height: 2rem;
  color: #db1d26d3
}

.done-icon {
  width: 1.3rem;
  height: 2rem;
  color: #178f1dd3
}

.done-icon.disabled {
  cursor: auto;
  color: gray;
  pointer-events: none;
}

.edit-icon {
  width: 1.3rem;
  height: 2rem;
  color: purple;
}

.task-container.done {
  background-color: #fdead38c;
  text-decoration: line-through;
  color: rgb(80, 75, 75);
}